/* define global colours and reset margins */
:root {
  --light-blue: #38b6ff;
  --dark-blue: #004aad;
  --yellow: #ffcc00;
  --red: #ff0000;
  --green: #00ff15;
}

* {
  margin: 0;
  font-family: League Spartan, sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

u,
i {
  /* fix font size for tags within headers*/
  font-size: inherit;
}

/* menu and nav */
menu {
  background-color: var(--dark-blue);
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 100%;
  width: auto;
}

nav {
  display: none;
}

nav>a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

@media (min-width: 1000px) {
  menu {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  nav {
    display: block;
  }
}

/* main content */
main>div {
  padding: 2rem;
  scroll-margin-top: 8rem;
}

@media (min-width: 1001px) {

  main>div,
  menu {
    padding: 2rem max(2rem, calc(50vw - 500px));
  }
}

/* home section */
.home {
  background-color: var(--light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 500px) {
  .links {
    grid-template-columns: 1fr;
  }
}

.tile {
  position: relative;
}

.tile>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.tile>img {
  border-radius: 2rem;
  width: 100%;
  filter: brightness(0.6);
  position: relative;
}

.tile:hover {
  transform: scale(1.04);
}

.tile:hover>img {
  filter: brightness(0.8);
}

/* about */
.about {
  background-color: var(--yellow);
}

p,
li {
  line-height: 1.5rem;
}

#from {
  text-align: right;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
}

/* debating tips */
.debating {
  background-color: var(--light-blue);
  color: white;
}

.center {
  text-align: center;
  display: block;
}

/* contact */
.contact {
  background-color: var(--dark-blue);
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#submit {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: auto;
  border-radius: 10px;
  text-align: center;

}

.form-grid {
  display: grid;
  grid-template-columns: 5rem 50vw;
  gap: 1rem;
  text-align: right;
}

.form-grid>* {
  font-size: 1.3rem;
}

input {
  height: 2rem;
}

textarea {
  height: 7rem;
}

/* footer */
footer {
  height: 3rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}